{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post>
  {{ form.hidden_tag() }}
  <h3 align="center">Change your password</h3>
  <dl>
    {{ render_field(form.old_password, placeholder="Current Password", class="form-control") }}
    {{ render_field(form.new_password, placeholder="New Password", class="form-control") }}
    {{ render_field(form.confirm_new, placeholder="Repeat New Password", class="form-control") }}
  </dl>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}